.basketItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 200px;
  padding: 20px;
  margin-top: 20px;
}
.basketItem > img {
  flex: 1;
  max-height: 200px;
  max-width: 300px;
  object-fit: contain;
}
.basketItem_details {
  padding-left: 20px;
  flex: 1;
  position: relative;
}
.basketItem_details > button {
  background: #d1a9e9;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 10px;
  border-color: #682f8a #713397 #5f3578;
  color: #111;
  outline: none;
  transition: 50ms ease-in-out;
  cursor: pointer;
}
.basketItem_details > button:hover {
  transform: scale(1.03);
  transform-origin: center center;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
  margin-top: 5px;
}
.product__info {
  width: 100%;
  margin-bottom: 15px;
}
.basketItem_details > select {
  position: absolute;
  right: 0%;
  top: 100%;
  transform: translateX(-1px) translateY(-100%);

  min-width: 120px;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 20px;

  text-align: center;
  background: #e7e9ec;
  border-color: #adb1b8 #a2a6ac #8d9096;
  color: #111;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 730px) {
  .basketItem {
    flex-direction: column;
    border-bottom: 2px solid rgba(234, 237, 237, 1);
  }
  .basketItem > img {
    max-width: 100%;
  }
  .basketItem_details {
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .basketItem {
    padding: 20px 0;
  }
  .basketItem_details > button {
    padding: 10px 10px;
  }
  .basketItem_details > select {
    padding: 10px 10px;
  }
}
