.orderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 200px;
  padding: 20px;
  margin-top: 20px;
}
.orderItem > img {
  flex: 1;
  max-height: 200px;
  max-width: 300px;
  object-fit: contain;
}
.orderItem_details {
  padding-left: 20px;
  flex: 1;
  position: relative;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
  margin-top: 5px;
}
.product__info,
.product__bought {
  width: 100%;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .orderItem {
    flex-direction: column;
    border-bottom: 2px solid rgba(234, 237, 237, 1);
  }
  .orderItem > img {
    max-width: 100%;
  }
  .orderItem_details {
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }
  .order__total {
    margin-top: 25px;
  }
}
