.payment {
  background-color: white;
}
.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}
.payment__container > h1 a {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}
.payment__title {
  flex: 0.2;
}
.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}
.payment__details > form {
  max-width: 400px;
}
.payment__details h3 {
  padding-bottom: 10px;
  padding-top: 10px;
}
.payment__details > form > div > button {
  background: #d1a9e9;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 10px;
  border-color: #682f8a #713397 #5f3578;
  color: #111;
  outline: none;
  transition: 50ms ease-in-out;
  cursor: pointer;
}
.payment__details > form > div > button:hover {
  transform: scale(1.03);
  transform-origin: center center;
}

@media only screen and (max-width: 950px) {
  .payment__section {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .payment__address {
    text-align: center;
    margin-top: 20px;
  }
  .payment__details {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .payment__details > form {
    margin-left: auto;
    margin-right: auto;
  }
}
